.about-page {
  min-height: 100vh;
  background: #5e9ddb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  background: #c45353;
  padding: 32px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.about-title {
  font-size: 26px;
  margin-bottom: 12px;
  color: #39bfc4;
  text-align: center;
}

.about-text {
  font-size: 15px;
  color: #b2b950;
  text-align: center;
  line-height: 1.6;
}