/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  height: 64px;
  background: #b8bcc0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  font-family: "Segoe UI", sans-serif;
}

/* ===== LOGO ===== */
.navbar-logo a {
  color: #723781;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

/* ===== LINKS ===== */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navbar-links li a {
  color: #426bbd;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #7e4ac2;
}

/* ===== ADMIN LINK ===== */
.admin-link {
  color: #7e6917 !important;
  font-weight: 600;
}

/* ===== ACTIONS ===== */
.navbar-actions {
  display: flex;
  align-items: center;
}

/* ===== LOGIN BUTTON ===== */
.btn-login {
  background: #1c5974;
  color: #4364b1;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-login:hover {
  background: #1f769e;
}

/* ===== LOGOUT BUTTON ===== */
.btn-logout {
  background: #1390b6;
  color: rgb(190, 77, 77);
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-logout:hover {
  background: #849115;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar-links {
    gap: 14px;
  }
}